/* niimi */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Baloo+Chettan+2&family=MuseoModerno:wght@300&display=swap');
 
html{
  font-family: 'M PLUS Rounded 1c', sans-serif;
} 

body{
  /* margin: 0 auto 0 auto; */
  /* padding: 0px; */
  /* background-color: red; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
#service{
  font-family: 'Bad Script', cursive;
  font-family: 'Baloo Chettan 2', cursive;
  font-family: 'MuseoModerno', cursive;
}
/* ログイン、サインアップ画面 */
.account{
  color: #fff;
}

.form_inside{
  background-color:#fff;
  width: 50%;
  height: auto;
  border-radius: 5px;
}

#h3_back{
  font-size: 1.3rem;
  margin: 10px;
  padding: 60px;
  /* position: absolute; */
  color: white;
  /* font-family: 'Bad Script', cursive; */
  font-family: 'Bad Script', cursive;
  font-family: 'Baloo Chettan 2', cursive;
  font-family: 'MuseoModerno', cursive;
}

p{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* .back_post p{
  font-family: 'M PLUS Rounded 1c', sans-serif;
} */


/* バック一覧 */
/* ログイン、サインアウト用 */
.back {
  background-image: linear-gradient(
      rgba(0,0,0,0.6),rgba(0,0,0,0.6)
  ),url("https://s3-ap-northeast-1.amazonaws.com/rakuten.intern2020/image/meal.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-color: #272424;
  border-radius: 5px;
}

/* ランキングページ */
.back_rank {
  background-image: linear-gradient(
      rgba(0,0,0,0.6),rgba(0,0,0,0.6)
  ),url("https://s3-ap-northeast-1.amazonaws.com/rakuten.intern2020/image/cake5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  text-align: center;
  color: #fff;
  background-color: #272424;
  border-radius: 5px;
  /* position: relative; */
}

/* ポストページ */
.back_post {
  background-image: linear-gradient(
      rgba(0,0,0,0.5),rgba(0,0,0,0.5)
  ),url("https://s3-ap-northeast-1.amazonaws.com/rakuten.intern2020/image/cook2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  text-align: center;
  color: #fff;
  background-color: #272424;
  margin: 10px;
  border-radius: 5px;
}
.post_form{
  padding: 20px;
  background-color: #ebe8e8;
  /* background-color: red; */
  border-radius: 10px;
  margin: 5px;
}
.post_content{
  margin: 10px auto 10px auto;
  /* background-color: red; */
}
.post_content p{
  border-left :solid 5px #f1b987;
  border-bottom: solid 1px gray;
  padding: 10px;
}

.upload {
  position: relative;
  margin: 8px 0 0 -14px;
  background-color: red;
  }
.upload::before {
  content: “添付ファイル：”;
  position: absolute;
  background: #fff;
  width: 110px;
  height: 26px;
  line-height: 1.8;
  text-align: right;
  }

/* タイムラインページ */
.back_timeline{
  /* background-image: linear-gradient(
      rgba(0,0,0,0.5),rgba(0,0,0,0.5)
  ),url("image/cook3.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  text-align: center;
}

.back_bonus{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  text-align: center;
  color: #fff;
  /* background-color: #3d321d; */
  /* background: linear-gradient(#dbb367, #3d321d ) fixed; */
  background: linear-gradient(-135deg, #dd1773, #eea765);
  padding: 10px;
  border-radius: 5px;
  /* width: 50%; */
  height: auto;
}

.bonus{
  font-size: 1rem;
  padding:5px;
  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(110deg, #f7d283 0%, #f7e1b2 100%);
  background-image: linear-gradient(-20deg, #f7d283 0%, #f7e1b2 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.back_bonus a{
  background-color: white;
  padding: 5px;
  text-decoration:none;
  border-radius: 15px;
}
/* .back_bonus a:link{
  color: #fff;
}
.back_bonus a:visited{
  color: #fff;
} */
/* .back_bonus a:hover{
  color: #fff;
}
.back_bonus a:active{
  color: #fff;
} */

.items{
  padding:20px;
}

#h3_timeline{
  margin: 10px;
  padding: 30px;
  border-bottom: dashed 1px #c9a07f;
  /* position: absolute; */
  color: #352a1a;
  /* font-family: 'Bad Script', cursive; */
  font-family: 'Bad Script', cursive;
  font-family: 'Baloo Chettan 2', cursive;
  font-family: 'MuseoModerno', cursive;
  border-radius: 5px;
}

#h3_timeline::first-letter{
  font-size: 2em;
  color: #d8a468;
}

/* マイページ */
.back_mypage{
  background-image: linear-gradient(
      rgba(0,0,0,0.5),rgba(0,0,0,0.5)
  ),url("https://s3-ap-northeast-1.amazonaws.com/rakuten.intern2020/image/tomato.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  text-align: center;
  color: #fff;
  background-color: #272424;
  border-radius: 5px;
}

/* ステータスページ */
.back_state{
  background-image: linear-gradient(
      rgba(0,0,0,0.5),rgba(0,0,0,0.5)
  ),url("https://s3-ap-northeast-1.amazonaws.com/rakuten.intern2020/image/cook4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  text-align: center;
  color: #fff;
  background-color: #272424;
  border-radius: 5px;
}

/* フォローフォロワーぺーじ */
.back_follow{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  text-align: center;
  color: #fff;
  background-color: #ebbb62;
  border-radius: 5px;
}

#back_follow_3{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding:25px;
}

/* 以下LP */
/* ホーム(LP) */
.back_home{
  background-image: linear-gradient(
      rgba(0,0,0,0.6),rgba(0,0,0,0.6)
  ),url("https://s3-ap-northeast-1.amazonaws.com/rakuten.intern2020/image/meal.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  text-align: center;
}

.back_home h2{
  /* margin: 10px; */
  padding: 80px;
  /* position: absolute; */
  color: white;
  /* font-family: 'Bad Script', cursive; */
  font-family: 'Bad Script', cursive;
  font-family: 'Baloo Chettan 2', cursive;
  font-family: 'MuseoModerno', cursive;
}

#home_back_p{
  color: white;
  margin: 10px auto 200px auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.home1{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  /* text-align: center; */
  background-color: rgb(226, 226, 226);
}

.home1 h4{
  padding: 50px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.home1 p{
  color: white;
}

.home1 h5 {
  position: relative;
  padding: 1rem 2rem;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 10px;
  background: #d8a468;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.home1 h5:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 8px;
  font-size: 1.2rem;
  position: absolute;
  padding:2px;
  top: -24px;
  left: 0;
  height: 24px;
  /* padding: 0 1em; */
  content: '\f0a1    voice';
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #d8a468;
}


.home2{
padding: 30px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 50vh;
text-align: center;
background-color: #faecd7;
/* border-radius: 5px; */
}

.home2 h4 {
  position: relative;
  padding: 1.5rem;
  color:"#f4a460";
  text-align: center;
  background: #fff;
  border-radius: 5px;
}

.home2 h4:before,
.home2 h4:after {
  position: absolute;
  content: '';
}

.home2 h4:before {
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
}

.home2 h4:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.home2 h4 i {
  /* font-size: 20px; */
  font-size: 2rem;
  line-height: 60px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
  color :"#f4a460"
}

.home2 h4 span {
  position: relative;
  z-index: 1;
}

.home2 img {
  width: 40%;
  height: auto;
  padding:25px;
  }

.btn{
  font-size: 1rem;
  padding:20px;
  color: #fff;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(110deg, #f7d283 0%, #f7e1b2 100%);
  background-image: linear-gradient(-20deg, #f7d283 0%, #f7e1b2 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn span{
background-image: -webkit-gradient(linear, left top, right top, from(#93a5cf), to(#e4efe9));
background-image: -webkit-linear-gradient(left, #332602 0%, #b48502 100%);
background-image: linear-gradient(to right, #332602 0%, #b48502  100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}